{% extends 'base.html' %}

{% block content %}
<style>
    .add-comment{
        padding: 35px;
    }
</style>

<div class="add-comment">
    <h2>Add your Comments for this answer here!</h2>
        <!-- <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-secondary">Add Comment</button>
        </form> -->
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <textarea name="comment_text" cols="40" rows="10" required id="id_comment_text" placeholder="Comment"  class="form-control"></textarea><br>
            <button class="btn btn-secondary">Add Comment</button>
        </form>
</div>

{% endblock %}