{% extends 'base.html' %}

{% block content %}
<style>
    .add-question{
        padding: 35px;
    }
</style>

<div class="add-question">
    
    <h2>Add your Question here!</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <p><label for="id_Que_text">Que text:</label> <textarea name="Que_text" cols="40" rows="10" required id="id_Que_text"></textarea></p>
            <button class="btn btn-secondary">Add Question</button>
        </form>
  
</div>

{% endblock %}