{% extends "base.html" %} 

{% block content %}

<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }
    .centre{
        text-align: left;
        padding-left: 10px;
    }
    
</style>
<br>
<div class="container">
    <h2 class="centre"> All Questions </h2>
    <div class="slider">
        <!-- row-cols-2 row-cols-md-2 g-4 -->
        {% for question in question_list %}
        
        <div class="card">
            <div class="card-body">
                <a href="{% url 'detail' question.id %}"><h6 class="card-title">{{question.Que_text|slice:":50" }}</h6></a>
                <small class="card-subtitle mb-2 text-muted">{{ question.Que_author }} | {{ question.Que_created_on}}</small>
                
            </div>
          </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
